<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LowQuesions</title>
</head>
<body>
    <div class="text-center">
        <h3>Not Enough Questions to Start Exam, Contact System Admin or Lecturer</h3>
    </div>
    @Html.ActionLink("Back to List", "Index")

</body>
</html>
