<!DOCTYPE html>
<link rel="stylesheet" type="text/css"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="~/Content/MKT/css/material-kit.css?v=2.1.0" />
<!--   Core JS Files   -->
<script src="~/Content/MKT/js/core/jquery.min.js" type="text/javascript"></script>
<script src="~/Content/MKT/js/core/popper.min.js" type="text/javascript"></script>
<script src="~/Content/MKT/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
<script src="~/Content/MKT//js/plugins/moment.min.js"></script>

<script src="~/Content/MKT/js/plugins/nouislider.min.js"></script>
<script src="~/Content/MKT/js/material-kit.js?v=2.1.0" type="text/javascript"></script>
<script src="~/Content/MKT/js/user/home.js" type="text/javascript"></script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1 style=" align-content:center">Sorry</h1>
        <h2>You don't have permission to view this Content</h2>
    </hgroup>
</body>
</html>
